.intro {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(rgba(138, 186, 86, 0), rgba(138, 186, 86, 0.7) 95%),
  url("../images/ss_fad6cb499482042a9a2fe8f606f767c991424cdd.1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;
  padding: 1.8em 40px;
  margin-top: 75px;
}

.label-intro img {
  width: content-box;
  height: 75px;
  margin: 0 auto;
  float: contour;
}

.title-intro{
  padding: 15px;
  color: black;
}

.text-intro {
  padding: 5px;
  color: black;
}

.intro p {
  color: crimson;
}

.button-intro {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: darkgreen; /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  margin: 20px;
}

.button {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 940px) {
  .intro {
    font-size: 60%;
  }

  .intro .text-small {
    font-size: 80%;
  }


  .label-intro img {
    height: 55px;
  }

}

@media (max-width: 400px) {
  .label-intro img {
    height: 35px;
  }

  .intro {
    font-size: 40%;
    margin-top: 28%;
  }

  .button-intro .button{
    font-size: 70%;
    padding: 0.1em 0.1em;
  }

  .intro .text-small {
    font-size: 70%;
  }
}
