.price {
  background-color:rgba(255, 250, 250, 0.7);
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;
  text-align: center;
  padding: 20px;
  color: gray;
}

.price:after {
  content: '';
  display: block;
  clear: both;
}

.price-item {
  float: left;
  padding: 20px;
  margin-left: 20px;
  align-content: center;
  height: 450px;
  width: 350px;
  font-size: 0.9em;
}

.name-item-price {
  padding: 20px;
  color: black;
}

.description-item-price {
  padding: 20px;
  font-size: 0.9em;
  height: 150px;
}

.button-price {
  display: inline-block;
  border-radius: 3px;
  font-size: 16px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: darkgreen; /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  margin: 20px;
}
