.price {
  background-color:rgba(255, 250, 250, 0.7);
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;
  text-align: center;
  height: auto;
  padding-top: 75px;
  color: gray;
  width: 100%;
}

.price:after {
  content: '';
  display: block;
  clear: both;
}

.price-item {
  float: left;
  height: auto;
  max-width: 33%;
  font-size: 0.9em;
  border: 1px solid gray;
}

.name-item-price {
  padding: 20px;
  color: black;
}

.description-item-price {
  padding: 20px;
  font-size: 0.9em;
  height: 150px;
}

@media (max-width: 940px) {
  .price {
    font-size: 80%;
  }

  .price-item{
    max-width: 100%;
  }

  .button-price .button{
    font-size: 70%;
    padding: 0.1em 0.1em;
  }
}

@media (max-width: 400px) {
  .price {
    font-size: 70%;
  }

  .price-item{
    max-width: 100%;
  }

  .button-price .button{
    font-size: 60%;
    padding: 0.1em 0.1em;
  }
}

